/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[3]!./src/styles/header.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.checkbox {
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #cbd5e0;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.checked {
  background: linear-gradient(to bottom,#ff8700 , #b45700) ;
  border-color: #b45700;
}

.check-icon {
  color: #fff;
  font-size: 0.875rem;
  z-index: 2;
}

.calcHeight {
  min-height: calc(100vh - 82px);
}
/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[12].use[3]!./src/styles/headersLinks.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.marginTop {
  margin-top: 8px;
}
